# .gitignore - Fichiers a ne PAS versionner

# Environnement Python
__pycache--/
*.pyc
venv/
.env

# Modele ML (trop gros pour GitHub)
models/*.pkl

# Fichiers OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/